[submodule "server"]
	path = server
	url = https://github.com/renansilva15/nlw-spacetime-server
[submodule "web"]
	path = web
	url = https://github.com/renansilva15/nlw-spacetime-web
[submodule "mobile"]
	path = mobile
	url = https://github.com/renansilva15/nlw-spacetime-mobile
[submodule "nlw-spacetime-server"]
	path = nlw-spacetime-server
	url = https://github.com/renansilva15/nlw-spacetime-server.git
[submodule "nlw-spacetime-web"]
	path = nlw-spacetime-web
	url = https://github.com/renansilva15/nlw-spacetime-web
[submodule "nlw-spacetime-mobile"]
	path = nlw-spacetime-mobile
	url = https://github.com/renansilva15/nlw-spacetime-mobile
